<div class="row small-title">
  <div class="col-sm-12">
    <h3>征友条件</h3>
    <div class="row" style="margin-top: 57px;">
      <div class="col-sm-6 col-sm-offset-3">
        <ol>
          <li class="top-distance">身高：
            <input type="text" class="form-control" name="wantStature" ng-model="profile.wantStature" uib-tooltip="身高" tooltip-placement="top" stature-format />
            <span>cm</span>
            <span ng-if="profileForm.wantStature.$error.stature" class="help-tip">
              身高必须是120~200的数字.
            </span>
          </li>

          <li class="top-distance">收入：
            <select class="btn btn-info btn-sm" ng-model="profile.wantSalary">
              <option value="">未选</option>
              <option value="500">0~1000</option>
              <option value="2000">1000~3000</option>
              <option value="4000">3000~5000</option>
              <option value="6500">5000~8000</option>
              <option value="9000">8000~10000</option>
              <option value="12500">10000~15000</option>
              <option value="17500">15000~20000</option>
              <option value="20000">20000以上</option>
              <option value="不限">不限</option>
            </select>
          </li>
          
          <li class="top-distance">学历：
            <select class="btn btn-info btn-sm" ng-model="profile.wantEducation">
              <option value="">未选</option>
              <option value="初中及以下">初中及以下</option>
              <option value="中专">中专</option>
              <option value="高中">高中</option>
              <option value="大专">大专</option>
              <option value="本科">本科</option>
              <option value="研究生">研究生</option>
              <option value="博士及以上">博士及以上</option>
              <option value="不限">不限</option>
            </select>
          </li>

          <li class="top-distance">年龄：
            <select class="btn btn-info btn-sm" ng-model="profile.wantAgeFrom" ng-options="f for f in fbs">
              <option value="">未选</option>
              <option value="不限">不限</option>
            </select>
            ~
            <select class="btn btn-info btn-sm" ng-model="profile.wantAgeTo" ng-options="f for f in fbs">
              <option value="">未选</option>
              <option value="不限">不限</option>
            </select>
          </li>

          <li style="margin-left: -26px;">
            <span class="key top-distance">所在地区：<span>
            <select class="btn btn-info btn-sm" ng-change="changeWantCountry()" ng-options="C.name for C in countryList" ng-model="cpw.country">
              <option value="">国家</option>
            </select>
            <select class="btn btn-info btn-sm" ng-change="changeWantProvince()" ng-options="p.name for p in cpw.country.province" ng-model="cpw.province">
              <option value="">省份/直轄市</option>
            </select>
            <select class="btn btn-info btn-sm" ng-change="changeWantCity()" ng-model="profile.wantCity" ng-options="c for c in cpw.province.city">
              <option value="">市</option>
            </select> 
          </li>
        </ol>
      </div>
    </div>
    <div class="row" style="margin: 41px 0px 100px -8px">
      <div class="col-sm-6 col-sm-offset-4">
        <!--默认是类型是submit-->
        <button type="button" class="btn btn-default" style="width: 108px;" ng-click="cancel()">
          取消
        </button>
        <button class="btn btn-info" style="width: 108px;margin-left:79px;" ng-disabled="profileForm.$invalid"
        >
          确认
        </button>
      </div>
    </div>
  </div>
</div>