@charset "utf-8";
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #D7E8F0;
}

body {
    background-color: #D7E8F0;
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑", "宋体";
    height: 100%;
}

.form-control {
    background-color: transparent;
}

/* ANIMATIONS=================================================================*/

/* leaving animations ----------------------------------------- */
@keyframes rotateOutNewspaper {
    to {
    	transform: translateZ(-3000px) rotateZ(360deg); 
    	opacity: 0; 
    }
}

/* entering animations --------------------------------------- */
@keyframes scaleUp {
    from {
        opacity: 0.3; 
        -webkit-transform: scale(0.8); 
    }
}

.ng-enter { 
	z-index: 8888;
}

.ng-leave { 
	z-index: 9999;
}

.page.ng-enter {
	animation: scaleUp 1s both ease-in;
}

.page.ng-leave {
	animation: rotateOutNewspaper .5s both ease-in;
}

.page {
    background: #D7E8F0;
    min-height: 92%;
    height: auto;
}

/*animation end*/

/* loading mask=================================================================*/
@-webkit-keyframes rotate {

    0% { 
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.mask-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: 0 0;
    z-index: 9999;
}

.mask-loading .loading-icon {
    -webkit-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -20px 0 0 -20px;
    border-width: 5px;
    border-style: solid;
    border-color: #37c3aa #37c3aa #fff #fff;
    opacity: .9;
    border-radius: 20px;
}
/*loading mask end*/


/* scroll bar=================================================================*/
::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
} /* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar-track {
    background: #c8c9ca;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background:#38c4a9;
    min-height:6px;
    width:5px;
    border-radius:4px;
} /* 滑块颜色 */

::-webkit-scrollbar-button {
  /*background-color: #7c2929;*/
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
  /*background-color: black;*/
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

/*scrollbar end*/


/* msg box=================================================================*/
.msg-box {
  z-index: 666;
  position: fixed;
  width: 100%;
  text-align: center;
}
.msg.ng-enter {
    transition: 1s linear all;
    opacity: 0.3;
}
.msg.ng-enter-active {
    opacity: 1;
}
.msg.ng-leave {
    transition: 1s linear all;
    opacity: 1;
}
.msg.ng-leave-active {
    opacity: 0;
}
/*msg box end*/


/* go to top =================================================================*/
#gotoTop {
    display: none;
    position: fixed;
    top: 80%;
    left: 90%;
    cursor: pointer;
    padding: 4px 4px;
    width: 50px;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 50px;
    height: 50px;
    z-index: 999;
}
      
#gotoTop.hover {
  background: #e0e0e0;
  color: #fff;
  text-decoration: none;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 auto;
  border: 9px solid transparent;
  border-bottom-color: #aaa;
}

.stick {
  width: 8px;
  height: 14px;
  margin: 0 auto;
  border-radius: 1px;
  background-color: #aaa;
}
/*go to top end*/

.switch {
    opacity: 0;
    width:64px;
    height: 20px;
    top: 1px;
    left: 0px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

.switch+div {
    background-color: rgba(0,0,0,.4);
    border-radius: 4px;
    height: 20px;
    width: 42px;
    margin-top: 5px;
}

.switch:checked+div{
  background-color:rgba(165,208,104,.75);
}

.switch+div>div {
  background:#fff;
  border-radius:inherit;
  float:left;
  height:18px;
  width:20px;
  margin-left:1px;
  margin-top:1px;
  -moz-transition-timing-function:cubic-bezier(.54,1.85,.5,1);
  -ms-transition-timing-function:cubic-bezier(.54,1.85,.5,1);
  -o-transition-timing-function:cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-timing-function:cubic-bezier(.54,1.85,.5,1);
}

.switch:checked+div>div{
  -moz-transform:translate3d(20px,0,0);
  -ms-transform:translate3d(20px,0,0);
  -o-transform:translate3d(20px,0,0);
  -webkit-transform:translate3d(20px,0,0)
}

.switch+div, .switch+div>div {
    -moz-transition-duration: .4s;
    -ms-transition-duration: .4s;
    -o-transition-duration: .4s;
    -webkit-transition-duration: .4s;
}