.login {
    height: 100%;
    width: 100%;
    background: url(../images/bg.jpg) no-repeat 0 64px;
}

.login .div {
    margin-top: 185px;
    margin-left: 20px;
}

.login .add a {
    color: #7f7f7f;
    text-decoration: underline;
    cursor: pointer;
}

.login .add .forgetPassword {
    display: inline-block;
    margin-left: 395px;
    cursor: pointer;
    color: #3b9bc9;
    text-decoration: none;
}

.login .loginLogo {
    margin-left: -730px;
    margin-top: 18px;
}

#svc {
    width: 100px;
    height: 20px;
    margin-left: 440px;
}

.login .refresh {
    cursor: pointer;
}